header
{
	background: url(https://krot.info/uploads/posts/2020-01/1579562106_12-p-foni-dlya-produktovikh-magazinov-90.jpg);
}

#main-aside-wrapper {
  display: flex;
  flex-direction: column;
}
#main-aside-wrapper main, #main-aside-wrapper aside {
  background-color: #9ACD32;
}


@media screen and (min-width: 800px) 
{
  #main-aside-wrapper 
  {
    flex-direction: column;
  }
	.box-1
	{
		order: 2;
	}

	.box-2
	{
		order: 1;
	}
}
#n
{
    background-color: #00FF00;
}

#c
{
    background-color: #FF8C00;
}

body
{
	background: url(https://img4.goodfon.ru/wallpaper/original/5/4e/ovshchi-spetsii-risunok.jpg);
}

footer
{
	background: #9ACD32;
}
